/*.flex-containerAtTop{
    display: inline;
   margin-left: 100px;
    margin-right: 100px;
    background-color: white;
    color: black;
    align-items: baseline;
    flex-basis: 200px;


}
.flex-containerAtTop > div{
    float: left;
    
    
}
    NE RADI???        */


nav>a {
color: white;word-spacing: 10px;
}
 select{
 background-color: black; color: white;
 border-spacing: 10px;
}
    .rightSegment{
        float: right;

     }